

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@300&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html, body{
    font-family:"roboto" , sans-serif;
    font-weight:300;
    line-height:1.4;
    scroll-behavior: smooth;
}

a{
    text-decoration:none;
}

body{
    display:flex;
    background-color: rgb(26, 67, 84);
}


header{
    border:  5px solid black;
    height:100vh;
}
nav h1{
    font-size: 25px;
    font-weight:900;
    padding:10px;
    border-bottom:3px solid #ccc;

}

nav ul{
    list-style:none;
}

nav ul li{
    border-bottom:3px solid #ccc;
    padding:10px;
    color:black;
}
nav ul li:hover{
    background:#ccc;
    transition:0.3s ease-in-out;   
}

/* main section */

main{
    padding:50px;
    max-width:1200px;
}

section{
    margin-bottom:50px ;
}

section h2{
    font-size: 40px;
    /* font-weight:100px; */
    border-bottom:3px solid #ccc;
    margin-bottom:20px;
    padding-bottom:10px;
    
}

section article {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    
}

section article ul{
    margin-left: 30px;
}

section article ul li{
    margin-bottom:20px;
}
code{
    white-space: pre-line;
    line-height:2;
    background: #efe1e1;
    padding:10px;
    margin:5px;
    border-radius:10px;
}

@media (max-width:480px){
    body{
        flex-direction:column;
    }
    header{
        height:200px;
        overflow:hidden;
        overflow-y: scroll;
    }
}

